$theme-colors: (
  "primary": #fff,
  "secondary": #000,
  "info": #a1a0a0,
  "success": #f8ea49,
  "dark": #0473db,
  "danger": #696767,
  "light": #bebebe,
);

$colors: (
  "primary": #fff,
  "secondary": #000,
  "info": #a1a0a0,
  "success": #f8ea49,
  "dark": #0473db,
  "danger": #696767,
  "light": #e0dbdb,
  "sectionBackground": #eff3f8
);
