$theme-colors: (
  "primary": #fff,
  "secondary": #000,
  "info": #bebebe,
  "success": #f8ea49,
  "dark": #0473db,
  "danger": #696767
);

$colors: (
  "primary": #fff,
  "secondary": #000,
  "info": #bebebe,
  "success": #f8ea49,
  "dark": #0473db,
  "danger": #696767
);
