$theme-colors: (
  "primary": #fff,
  "secondary": #000,
  "info": #bebebe,
  "success": #f8ea49,
  "dark": #0473db,
);

$colors: (
  "primary": #fff,
  "secondary": #000,
  "info": #bebebe,
  "success": #f8ea49,
  "dark": #0473db,
);
