.destinations {
  padding-bottom: 1rem;
}

.destinations-title {
  font-size: 1.375rem;
  margin-top: 3rem;
}

// SLIDER ITEMS //
.destinations-items-container {
  position: relative;

  .destinations-item {
    width: 100%;

    &.active {
      transform: translateX(0);
      @include transition;
      opacity: 1;
    }

    &.prev {
      transform: translateX(-100%);
      @include transition;
      opacity: 0;
    }
    &.next {
      transform: translateX(100%);
      @include transition;
      opacity: 0;
    }

    img {
      width: 90%;
      border: 0.5px solid map-get($colors, light);
      padding: 0.625rem;
      margin-top: 2rem;
    }

    .destinations-item-title {
      font-size: 1.125rem;
      margin-top: 1.5rem;
    }

    .destinations-item-description {
      font-size: 0.8rem;
      margin-top: 0.5rem;
    }

    .book-now-btn {
      display: inline-block;
      font-size: 0.875rem;
      margin-top: 1rem;
      border-bottom: 2px solid map-get($colors, info);
      padding-bottom: 0.2rem;

      &:hover {
        text-decoration: none;
        color: map-get($colors, dark) !important;
        border-bottom: 2px solid map-get($colors, darl);
        @include transition;
      }
    }
  }

  .destinations-item-hidden {
    position: absolute;
    top: 0;
    transform: translateX(100%);
  }
}
// END OF SLIDER ITEMS //

// SLIDER BUTTONS //
.destinations-slider-buttons-container {
  width: 100%;
  height: 4.7rem;

  .destinations-slider-button {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin: 0.5rem;
    cursor: pointer;

    &.active {
      background-color: map-get($colors, dark) !important;
    }

    &:hover {
      background-color: map-get($colors, dark) !important;
      @include transition;
    }
  }
}
// END OF SLIDER BUTTONS //
