.destinations {
  padding-bottom: 1rem;
  margin: auto;
  max-width: 1230px;

  @include media-breakpoint-up(md) {
    padding: 3rem 0;
  }

  &-title {
    font-size: 1.375rem;
    margin-top: 2rem;

    @include media-breakpoint-up(md) {
      font-size: 1.625rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1.875rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 2.75rem;
    }
  }
}

// SLIDER ITEMS //
.destinations-items-container {
  position: relative;
  z-index: 0;

  .destinations-item {
    width: 100%;

    @include media-breakpoint-up(md) {
      margin: 2rem 1rem;
      margin-bottom: 0;
      padding-bottom: 2rem;
      transform: scale(1, 1);
      @include transition;

      &:hover {
        @include box-shadow;
        transform: scale(1.05, 1.05);
        @include transition;

        img {
          border: none;
        }

        .book-now-btn {
          border: 2px solid map-get($colors, dark);
          border-radius: 6px;
          padding: 0.5rem 1rem;
          color: map-get($colors, dark) !important;
          @include transition;
        }
      }
    }

    &.active {
      transform: translateX(0);
      @include transition;
      opacity: 1;
    }

    &.prev {
      transform: translateX(-100%);
      @include transition;
      opacity: 0;
    }
    &.next {
      transform: translateX(100%);
      @include transition;
      opacity: 0;
    }

    img {
      width: 90%;
      border: 0.5px solid map-get($colors, light);
      padding: 0.625rem;
      margin-top: 2rem;

      @include media-breakpoint-up(md) {
        width: 100%;
        margin: 0;
      }
    }

    &-title {
      @include transition;

      &:hover {
        color: map-get($colors, dark) !important;
        @include transition;
      }

      font-size: 1.125rem;
      margin-top: 1.5rem;

      @include media-breakpoint-up(md) {
        font-size: 1.25rem;
      }
      @include media-breakpoint-up(lg) {
        font-size: 1.375rem;
      }
      @include media-breakpoint-up(xl) {
        font-size: 1.625rem;
      }
    }

    &-description {
      font-size: 0.8rem;
      margin-top: 0.5rem;

      @include media-breakpoint-up(md) {
        font-size: 0.94rem;
      }
    }

    .book-now-btn {
      display: inline-block;
      font-size: 0.875rem;
      margin-top: 1rem;
      border: 2px solid transparent;
      border-bottom: 2px solid map-get($colors, info);
      padding: 0.5rem 0rem;
      @include transition;

      &:hover {
        text-decoration: none;
        color: map-get($colors, dark) !important;
        border-bottom: 2px solid map-get($colors, darl);
        @include transition;
      }
    }
  }

  .destinations-item-hidden {
    position: absolute;
    top: 0;
    transform: translateX(100%);

    @include media-breakpoint-up(md) {
      position: static;
      transform: translate(0);
    }
  }
}
// END OF SLIDER ITEMS //

// SLIDER BUTTONS //
.destinations-slider-buttons-container {
  width: 100%;
  height: 4.7rem;

  @include media-breakpoint-up(md) {
    visibility: hidden;
    height: 2rem;
  }

  .destinations-slider-button {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin: 0.5rem;
    cursor: pointer;

    &.active {
      background-color: map-get($colors, dark) !important;
    }

    &:hover {
      background-color: map-get($colors, dark) !important;
      @include transition;
    }
  }
}
// END OF SLIDER BUTTONS //
