// SLIDER ITEMS //
.divers-slider {
  position: relative;
  padding-top: 4.5rem;

  .divers-img {
    width: 80%;

    &.active {
      opacity: 100%;
      @include transition;
      transition-duration: 0.5s;
    }

    &.hide {
      opacity: 0;
      @include transition;
      transition-duration: 0.5s;
    }
  }

  .divers-img-hidden {
    position: absolute;
    top: 4.5rem;
    left: 10%;
    opacity: 0;
    @include transition;
    transition-duration: 0.5s;
  }
}
// END OF SLIDER ITEMS //

// SLIDER BUTTONS //
.divers-slider-buttons-container {
  width: 100%;
  height: 4.7rem;

  .divers-slider-button {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin: 0.5rem;
    cursor: pointer;

    &.active {
      background-color: map-get($colors, dark) !important;
      @include transition;
    }

    &:hover {
      background-color: map-get($colors, dark) !important;
      @include transition;
    }
  }
}
// END OF SLIDER BUTTONS //

// DIVERS TEXT, DROPDOWN MENU //
.divers-description {
  padding: 0rem 1rem;
  margin-top: 2rem;

  .divers-description-title {
    font-size: 1.375rem;
    margin-bottom: 2rem;
  }

  .divers-description-categories {
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid map-get($colors, light);

    i {
      margin-right: 1rem;
      color: map-get($colors, dark);
      font-size: 0.75rem;
      padding: 0.5rem;
      border-radius: 20px;
      box-shadow: 0px 0px 5px map-get($colors, light);
      transform: rotate(-90deg);
      @include transition;
      cursor: pointer;

      &.open {
        background: map-get($colors, dark);
        color: map-get($colors, primary);
        transform: rotate(0);
        @include transition;
      }
    }

    h3 {
      font-size: 0.875rem;
      margin: 0;
      font-family: "Poppins Medium", sans-serif;
    }
  }

  p {
    font-size: 0.8125rem;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
    line-height: 1.2rem;
    display: none;

    &.open {
      display: block;
      @include transition;
      transition-duration: 5s;
    }
  }
}
// END OF DIVERS TEXT, DROPDOWN MENU //

// ICONS //
.divers-icons {
  .divers-icons-item {
    border: 0.5px solid map-get($colors, light);
    padding: 1rem;
    margin: 2rem 1rem;

    img {
      margin-bottom: 0.5rem;
    }

    .divers-icons-title {
      font-size: 1rem;
    }

    .divers-icons-description {
      font-size: 0.8125rem;
      margin: 0;
    }
  }
}
// END OF ICONS //
