.divers {
  max-width: 1230px;
  margin: auto;
  position: relative;
  z-index: 1;
}

// SLIDER ITEMS //
.divers-slider {
  position: relative;
  padding-top: 4.5rem;

  @include media-breakpoint-up(md) {
    width: 45%;
  }
  @include media-breakpoint-up(xl) {
    width: 50%;
  }

  .divers-img {
    width: 80%;

    &.active {
      opacity: 100%;
      @include transition;
      transition-duration: 0.5s;
    }

    &.hide {
      opacity: 0;
      @include transition;
      transition-duration: 0.5s;
    }
  }

  .divers-img-hidden {
    position: absolute;
    top: 4.5rem;
    left: 10%;
    opacity: 0;
    @include transition;
    transition-duration: 0.5s;
  }
}
// END OF SLIDER ITEMS //

// SLIDER BUTTONS //
.divers-slider-buttons-container {
  width: 100%;
  height: 4.7rem;

  .divers-slider-button {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin: 0.5rem;
    cursor: pointer;

    &.active {
      background-color: map-get($colors, dark) !important;
      @include transition;
    }

    &:hover {
      background-color: map-get($colors, dark) !important;
      @include transition;
    }
  }
}
// END OF SLIDER BUTTONS //

// DIVERS TEXT, DROPDOWN MENU //
.divers-menu {
  padding: 0rem 1rem;
  margin-top: 2rem;

  @include media-breakpoint-up(md) {
    width: 50%;
  }

  .divers-menu-title {
    font-size: 1.375rem;
    margin-bottom: 2rem;

    @include media-breakpoint-up(md) {
      font-size: 1.625rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1.875rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 2.75rem;
    }
  }

  .divers-menu-categories {
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid map-get($colors, light);

    @include media-breakpoint-up(md) {
      padding: 1.5rem 0;
      margin: 0;
    }

    i {
      width: 2rem;
      height: 2rem;
      text-align: center;
      margin-right: 1rem;
      color: map-get($colors, dark);
      font-size: 0.75rem;
      border-radius: 50%;
      box-shadow: 0px 0px 5px map-get($colors, light);
      transform: rotate(-90deg);
      @include transition;
      cursor: pointer;

      &:hover {
        transform: rotate(0);
      }

      &.open {
        background: map-get($colors, dark);
        color: map-get($colors, primary);
        transform: rotate(0);
        @include transition;
        box-shadow: none;

        &:hover {
          transform: rotate(-180deg);
        }
      }
    }

    h3 {
      font-size: 0.875rem;
      margin: 0;
      font-family: "Poppins Medium", sans-serif;

      @include media-breakpoint-up(lg) {
        font-size: 1rem;
      }
      @include media-breakpoint-up(xl) {
        font-size: 1.125rem;
      }
    }
  }

  p {
    font-size: 0.8125rem;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
    line-height: 1.2rem;
    display: none;

    @include media-breakpoint-up(md) {
      margin-top: 1.5rem;
      font-size: 0.94rem;
      line-height: 1.5rem;
    }

    &.open {
      display: block;
    }
  }
}
// END OF DIVERS TEXT, DROPDOWN MENU //

// ICONS //
.divers-icons {
  padding-bottom: 2rem;

  @include media-breakpoint-up(md) {
    margin-top: 2rem;
  }

  .divers-icons-item {
    border: 0.5px solid map-get($colors, light);
    padding: 1rem;
    margin: 1rem;

    img {
      height: 3.4rem;
      width: 3.4rem;
      margin: auto;

      @include media-breakpoint-up(xl) {
        margin-right: 0.5rem;
      }
    }

    .divers-icons-title {
      font-size: 1rem;
      margin-top: 0.5rem;

      @include media-breakpoint-up(lg) {
        font-size: 1.375rem;
      }
    }

    p {
      font-size: 0.8125rem;
      @include media-breakpoint-up(lg) {
        font-size: 0.94rem;
      }
    }

    .divers-icons-menu {
      font-size: 0.8125rem;
      margin: 0;
    }
  }
}
// END OF ICONS //
