footer {
  background: #2a333f;
}

// FOOTER ITEMS //
.footer-items-container {
  padding: 1rem;
  max-width: 1230px;
  margin: auto;

  @include media-breakpoint-up(lg) {
    padding: 3rem 1rem;
  }

  h2 {
    font-size: 1rem;

    @include media-breakpoint-up(md) {
      font-size: 1.375rem;
      margin-bottom: 1rem;
    }
  }

  h4,
  li {
    font-size: 0.8125rem;

    @include media-breakpoint-up(md) {
      font-size: 0.94rem;
    }
  }

  // FOOTER GALLERY //
  .footer-item-gallery {
    @include media-breakpoint-up(lg) {
      width: 33%;
    }

    .gallery-title {
      margin-top: 1rem;
      padding: 1rem 0;

      @include media-breakpoint-up(lg) {
        padding-left: 0.5rem;
      }
    }

    .img-container {
      width: 100%;
      margin: auto;

      @include media-breakpoint-up(lg) {
        width: 85%;
        margin: 0;
      }

      .img-item {
        padding: 0.5rem;
        object-fit: cover;
        cursor: pointer;
        transform: scale(1, 1);
        @include transition;

        &:hover {
          transform: scale(1.05, 1.05);
          @include transition;
        }
      }
    }
  }
}

// FOOTER QUICK LINKS + CONTACT CONTAINER //
.footer-item-links-contact {
  @include media-breakpoint-up(lg) {
    width: 66%;
  }
}

// FOOTER QUICK LINKS //
.footer-item-links {
  @include media-breakpoint-up(lg) {
    width: 50%;
    padding: 0;
  }

  .links-title {
    padding: 1rem 0;
    padding-top: 2rem;

    @include media-breakpoint-up(lg) {
      padding-left: 0.5rem;
    }
  }

  .list-container {
    padding: 0 2rem;
    
    ul {
      padding: 0;

      a {
        &:hover {
          text-decoration: none;
          color: map-get($colors, dark) !important;
          @include transition;
        }

        li {
          list-style-type: none;
          line-height: 1.5rem;
          margin-left: 2rem;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 0.75rem;
            left: -1.2rem;
            width: 0.6rem;
            height: 1px;
            background-color: map-get($colors, info);
            @include transition;
          }

          @include media-breakpoint-up(md) {
            padding-bottom: 0.5rem;
          }
          @include media-breakpoint-up(lg) {
            margin-left: 0.5rem;
            text-indent: 0;
            @include transition;

            &:hover {
              text-indent: 1rem;
              @include transition;

              &::before {
                width: 1.6rem;
                @include transition;
              }
            }
          }
        }
      }
    }
  }
}

// FOOTER CONTACT INFO //
.footer-item-contact {
  line-height: 2.5rem;

  @include media-breakpoint-up(lg) {
    width: 50%;
    padding-left: 0.5rem;
  }

  .contact-title {
    padding: 1rem 0;
    padding-top: 2rem;
  }

  h4 {
    line-height: 1.5rem;
    padding: 0 3rem;

    @include media-breakpoint-up(sm) {
      padding: 0 2rem;
    }

    @include media-breakpoint-up(md) {
      padding-bottom: 0.5rem;
    }
  }

  .social-icons {
    width: 100%;

    a {
      display: inline-block;
      height: 2.5rem;
      width: 2.5rem;
      border: 1px solid map-get($colors, light);
      border-radius: 100%;
      margin: 1rem 0.5rem;
      margin-bottom: 2rem;

      &:hover {
        border: 1px solid map-get($colors, dark);
        @include transition;

        i {
          color: map-get($colors, dark) !important;
          @include transition;
        }
      }

      @include media-breakpoint-up(sm) {
        margin: 1rem 0.3rem;
      }
    }
  }
}
// END OF FOOTER ITEMS //

// FOOTER COPYRIGHT TEXT //
.copyright {
  border-top: 1px solid map-get($colors, light);
  padding: 1.5rem;
  font-size: 0.8125rem;

  p {
    margin: 0;
  }
}
// END OF FOOTER COPYRIGHT TEXT //
