.gallery {
  .gallery-title {
    font-size: 1.375rem;
    padding-top: 2rem;
  }

  .gallery-img {
    background: map-get($colors, sectionBackground);
    margin: 2rem 1.5rem;
    padding-bottom: 0.5rem;

    img {
      width: 100%;
    }
    h3 {
      font-size: 1rem;
      padding-top: 1rem;
    }

    .search-icon-container {
      height: 3rem;
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      margin: 1rem auto;

      .search-icon{
        border: 2px solid map-get($colors, primary);
        margin-right: 0.4rem;

        &::after{
            background-color: map-get($colors, primary);
        }
      }
  }
}
}
