.gallery {
  position: relative;
  max-width: 1230px;
  margin: auto;
  padding-bottom: 2rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
}

.gallery-title {
  font-size: 1.375rem;
  padding-top: 2rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 3rem;
    font-size: 1.875rem;
  }
}

// GALLERY ITEMS //
.gallery-img {
  margin: 1rem;
  padding-bottom: 0.5rem;

  @include media-breakpoint-up(md) {
    position: relative;
    margin: 1.3rem 0;
    padding: 0;
  }

  img {
    width: 100%;
  }

  .img-description {
    background: map-get($colors, sectionBackground);
    padding: 0.5rem;

    a {
      text-decoration: none;
    }

    h3 {
      font-size: 1rem;
      padding-top: 1rem;

      &:hover {
        color: map-get($colors, dark) !important;
        @include transition;
      }
    }

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transform: scale(0.8, 0.8);
      @include transition;

      h3 {
        font-size: 1.375rem;
        transform: translateY(-50%);
        @include transition;
      }

      .search-icon-container {
        transform: translate(-50%, 50%);
        @include transition;
      }

      &:hover {
        transform: scale(1, 1);
        opacity: 1;
        @include transition;

        h3 {
          transform: translate(0);
          @include transition;
        }

        .search-icon-container {
          transform: translate(0);
          @include transition;
        }
      }
    }
  }

  .search-icon-container {
    height: 3rem;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    margin: 1rem auto;
    cursor: pointer;

    .gallery-search-icon {
      border: 2px solid map-get($colors, primary);
      margin-right: 0.4rem;
      border-radius: 10px;
      height: 20px;
      width: 20px;
      margin-bottom: 0.5em;
      cursor: pointer;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 20px;
        left: 15px;
        background-color: map-get($colors, primary);
        width: 8px;
        height: 1.5px;
        transform: skewY(45deg);
      }
    }

    &:hover {
      background: map-get($colors, success) !important;
      @include transition;

      .gallery-search-icon {
        border: 2px solid map-get($colors, secondary);
        @include transition;
        transition-duration: 0.2s;

        &::after {
          background-color: map-get($colors, secondary);
          @include transition;
        }
      }
    }
  }
}
