// .carousel-container {
//   width: 100%;
//   background-color: blue;

//   .carousel-slide {
//     display: flex;
//     img {
//       width: 100%;
//       height: 80vh;
//       object-fit: cover;
//     }

//     .carousel-img-2 {
//       object-position: right;
//     }
//   }
// }

//NAV BUTTONS, ICONS//
.menu-btn {
  display: flex;
  align-items: center;
  height: 20px;
  width: 25px;
  cursor: pointer;

  .menu-icon {
    width: 25px;
    height: 2px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -7px;
      background-color: map-get($colors, secondary);
      width: 25px;
      height: 2px;
      transform: skewY(0);
      @include transition;
    }
    &::after {
      @extend .menu-icon::before;
      top: 7px;
    }

    &.open {
      background-color: map-get($colors, primary) !important;
      @include transition;

      &::before {
        @extend .menu-icon::before;
        width: 20px;
        top: 0;
        transform: skewY(45deg);
      }
      &::after {
        @extend .menu-icon.open::before;
        transform: skewY(-45deg);
      }
    }
  }
}

.search-icon {
  border: 1.5px solid map-get($colors, secondary);
  border-radius: 10px;
  height: 20px;
  width: 20px;
  margin-bottom: 0.5em;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 15px;
    background-color: map-get($colors, secondary);
    width: 8px;
    height: 1.5px;
    transform: skewY(45deg);
  }

  &:hover {
    border: 1.5px solid map-get($colors, dark);
    @include transition;

    &::after {
      @extend .search-icon::after;
      background-color: map-get($colors, dark);
      @include transition;
    }
  }
}

.language-icon {
  height: 2em;
  width: 2em;
  border-radius: 1.5em;
  cursor: pointer;
}

.contact-btn{
    width: 5px;
    height: 22px;
    cursor: pointer;

    .contact-icon {
      width: 5px;
      height: 5px;
      border-radius: 5px;
      position: relative;
    
      &::before {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: map-get($colors, secondary);
        position: absolute;
        top: -8px;
        @include transition;
      }
      &::after {
        @extend .contact-icon::before;
        top: 8px;
      }
    
      &.open {
        width: 4px;
        height: 4px;
        
        &::before{
            @extend .contact-icon::after;
            @extend .contact-icon.open;
            @include transition;
        }

        &::after{
            @extend .contact-icon::before;
            @extend .contact-icon.open;
            @include transition;
        }
      }
    }
}
//END OF NAV BUTTONS, ICONS//
