header {
  position: relative;
  margin-top: 3.8rem;
  height: 75vh;
  z-index: 2;

  @include media-breakpoint-up(md) {
    margin-top: 0;
    height: 40rem;
    padding-top: 1.5rem;
  }
  @include media-breakpoint-up(lg) {
    height: 53rem;
  }
}

.navbar {
  position: fixed;
  top: 0;
  height: 3.8rem;
  width: 100%;
  @include box-shadow;
  max-width: 1230px;
  margin: auto;

  @include media-breakpoint-up(md) {
    position: relative;
    background: none !important;
    box-shadow: none;
  }
}

//NAV BUTTONS, ICONS STYLE//
.menu-btn {
  display: flex;
  align-items: center;
  height: 20px;
  width: 25px;
  cursor: pointer;

  .menu-icon {
    width: 25px;
    height: 2px;
    position: relative;

    @include media-breakpoint-up(md) {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: -7px;
      background-color: map-get($colors, secondary);
      width: 25px;
      height: 2px;
      transform: skewY(0);
      @include transition;
    }
    &::after {
      @extend .menu-icon::before;
      top: 7px;
    }

    &.open {
      background-color: map-get($colors, primary) !important;
      @include transition;

      &::before {
        @extend .menu-icon::before;
        width: 20px;
        top: 0;
        transform: skewY(45deg);
      }
      &::after {
        @extend .menu-icon.open::before;
        transform: skewY(-45deg);
      }
    }
  }
}

.logo-container {
  .inverse-logo-container {
    display: none !important;

    @include media-breakpoint-up(md) {
      display: flex !important;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 3.8rem;
      max-width: 1230px;
    }
  }

  .logo {
    @include media-breakpoint-up(md) {
      display: none !important;
    }
  }
}

.search-icon {
  border: 1.5px solid map-get($colors, secondary);
  border-radius: 10px;
  height: 20px;
  width: 20px;
  margin-bottom: 0.5em;
  position: relative;
  cursor: pointer;
  transform: rotateZ(0);
  @include transition;

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 15px;
    background-color: map-get($colors, secondary);
    width: 8px;
    height: 1.5px;
    transform: skewY(45deg);
  }

  @include media-breakpoint-up(md) {
    margin-right: 1rem;
    border: 1.5px solid map-get($colors, primary);

    &::after {
      background-color: map-get($colors, primary);
    }
  }

  &:hover {
    border: 1.5px solid map-get($colors, dark);
    @include transition;

    &::after {
      @extend .search-icon::after;
      background-color: map-get($colors, dark);
      @include transition;
    }
  }

  &.active.open {
    height: 25px;
    width: 25px;
    border-radius: 20px;
    transform: rotateZ(360deg);
    @include transition;

    &::after {
      @extend .search-icon::after;
      top: 10px;
      left: 6px;
    }
    &::before {
      @extend .search-icon::after;
      transform: skewY(-45deg);
      top: 10px;
      left: 6px;
    }
  }
}

.language-container {
  .language-icon {
    height: 2em;
    width: 2em;
    border-radius: 1.5em;
    cursor: pointer;
    position: relative;
    z-index: 1;

    @include media-breakpoint-up(md) {
      background: map-get($colors, primary) !important;
      color: map-get($colors, secondary) !important;
    }
  }

  ul {
    width: 100%;
  }
}

.contact-btn {
  width: 5px;
  height: 22px;
  margin-right: 1rem;
  cursor: pointer;

  @include media-breakpoint-up(md) {
    display: none !important;
  }

  .contact-icon {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    position: relative;

    &::before {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 5px;
      background-color: map-get($colors, secondary);
      position: absolute;
      top: -8px;
      @include transition;
    }
    &::after {
      @extend .contact-icon::before;
      top: 8px;
    }

    &.open {
      width: 4px;
      height: 4px;

      &::before {
        @extend .contact-icon::after;
        @extend .contact-icon.open;
        @include transition;
      }

      &::after {
        @extend .contact-icon::before;
        @extend .contact-icon.open;
        @include transition;
      }
    }
  }
}
//END OF NAV BUTTONS, ICONS//

// SIDE MENU //
.menu-container {
  @include media-breakpoint-up(md) {
    width: 100%;
  }
}

.navbar-nav {
  z-index: 1;
  padding: 1rem 0;
  @include box-shadow;
  height: 100vh;
  width: 85vw;
  position: fixed;
  top: 3.8125rem;
  left: 0;
  transform: translateX(-110%);
  @include transition;

  @include media-breakpoint-up(md) {
    background: none !important;
    transition: none;
    transform: translateX(0);
    box-shadow: none;
    position: static;
    height: 3.8rem;
    width: 100%;
    border-top: 1px solid map-get($colors, info);
    border-bottom: 1px solid map-get($colors, info);
    margin-top: 3rem;
    padding: 0;
  }

  &.open {
    transform: translateX(0);
    @include transition;
  }

  &.fixed-nav {
    position: fixed;
    background: map-get($colors, primary) !important;
    margin-top: -3.8rem;
    border: 0;
    @include box-shadow;
  }
}

.nav-item {
  position: relative;
  margin-bottom: 0.2rem;

  @include media-breakpoint-up(md) {
    height: 100%;
  }

  .nav-link {
    width: 100%;
    font-size: 0.75rem;
    padding-left: 0.8rem;

    @include media-breakpoint-up(md) {
      font-size: 0.875rem !important;
      color: map-get($colors, primary) !important;
      padding: 0 2rem;
      background: none !important;

      &.home {
        color: map-get($colors, success) !important;

        &.fixed-nav {
          color: map-get($colors, dark) !important;
        }
      }

      &.fixed-nav {
        color: map-get($colors, secondary) !important;

        &:hover {
          color: map-get($colors, dark) !important;
        }
      }
    }

    &:hover {
      text-decoration: none;
      color: map-get($colors, primary) !important;
      background-color: map-get($colors, dark);
      @include transition;

      @include media-breakpoint-up(md) {
        color: map-get($colors, success) !important;
        background: none !important;
      }
    }

    &.open {
      @extend .nav-link:hover;
    }

    i {
      display: inline-block;
      font-size: 0.75rem;
      position: absolute;
      right: 1.5rem;
      top: 0.8rem;
      cursor: pointer;
      transform: rotateZ(0deg);
      @include transition;

      @include media-breakpoint-up(md) {
        display: none;
      }

      &.open {
        transform: rotateZ(180deg);
        @include transition;
      }
    }
  }

  .nested-links {
    display: none;
    padding: 0;

    &.open {
      display: inline;

      @include media-breakpoint-up(md) {
        transform: scale(1, 1);
        @include transition;
      }
    }

    @include media-breakpoint-up(md) {
      display: inline;
      transform: scale(0, 0);
      @include transition;
      position: absolute;
      top: 3.7rem;
      left: -2.5rem;
      background: map-get($colors, primary);
      padding: 1rem;
      @include box-shadow;
    }

    a {
      display: inline-block;
      width: 100%;
      margin-top: 0.2rem;
      padding: 0.5rem;
      padding-left: 1.6rem;
      font-size: 0.75rem;

      &:hover {
        @extend .nav-link:hover;

        @include media-breakpoint-up(md) {
          color: map-get($colors, dark) !important;
        }
      }

      @include media-breakpoint-up(md) {
        font-size: 0.875rem !important;
        width: 10rem;
        text-align: center;
        padding: 0.5rem 0;
      }
    }
  }
}
// END OF SIDE MENU //

// SEARCH MENU //
.search-menu {
  height: 3rem;
  width: 100%;
  position: absolute;
  top: 3.8125rem;
  left: 0;
  @include box-shadow;
  transform: translateY(-30%);
  opacity: 0;
  @include transition;

  &.open {
    transform: translateY(0);
    opacity: 100%;
    @include transition;
  }

  @include media-breakpoint-up(md) {
    width: 30%;
    left: 69%;
    top: 3.8rem;
  }

  textarea {
    height: 100%;
    width: 80%;
    resize: none;
    border: none;
    padding: 0.8rem;
    letter-spacing: 0.1rem;
    outline: none;

    @include media-breakpoint-up(md) {
      width: 80%;
    }
  }

  .search-menu-icon {
    margin-right: 1rem;

    &:hover {
      @include media-breakpoint-up(md) {
        border: 1.5px solid map-get($colors, dark);
      }
    }

    @include media-breakpoint-up(md) {
      border: 1.5px solid map-get($colors, secondary);
    }

    &::after {
      @include media-breakpoint-up(md) {
        border: 1.5px solid map-get($colors, secondary);
      }

      &:hover {
        @include media-breakpoint-up(md) {
          border: 1.5px solid map-get($colors, dark);
        }
      }
    }
  }
}

// END OF SEARCH MENU //

// LANGUAGE MENU //
.language-menu {
  position: absolute;
  top: 3.5em;
  width: 2em;
  text-align: center;
  display: none !important;
  @include box-shadow;

  &.open {
    display: flex !important;
  }

  ul {
    padding: 0;
    margin: 0;
    height: 100%;

    li.language {
      padding: 0.25em;
      cursor: pointer;

      &.active {
        background-color: map-get($colors, dark);
        color: map-get($colors, primary) !important;
      }
    }
  }
}
// END OF LANGUAGE MENU //

// CONTACT MENU //
.contact-menu {
  z-index: -1;
  position: absolute;
  right: 0;
  top: 3.8125rem;
  @include box-shadow;
  text-align: center;
  width: 80vw;
  height: 5rem;
  transform: translateY(-30%);
  opacity: 0;
  @include transition;

  &.open {
    transform: translateY(0);
    opacity: 100%;
    @include transition;
  }

  @include media-breakpoint-up(md) {
    transform: translateY(0);
    left: 0;
    top: 0;
    opacity: 1;
    width: 15rem;
    height: 3.8rem;
    padding-left: 1rem;
    box-shadow: none;
    background: none !important;

    p,
    span {
      color: map-get($colors, primary) !important;
    }
  }

  p {
    margin: 0;
    font-size: 0.9rem;
  }
}
// END OF CONTACT MENU //

// SLIDER //
.header-slider {

  .header-slider-side {
    position: absolute;
    top: 0;
    text-align: center;
    z-index: -1;
    height: 75vh;
    width: 100%;
    padding: 0 10%;
    background: red;

    @include media-breakpoint-up(sm) {
      text-align: left;
    }

    @include media-breakpoint-up(md) {
      height: 40rem;
    }
    @include media-breakpoint-up(lg) {
      height: 53rem;
    }

    &.active {
      transform: translateX(0);
      @include transition;
      transition-duration: 0.4s;
    }
    &.prev {
      transform: translateX(-100%);
      @include transition;
      transition-duration: 0.4s;
    }
    &.next {
      transform: translateX(100%);
      @include transition;
      transition-duration: 0.4s;
    }

    .header-slider-side-text {
      width: 100%;
      max-width: 1230px;
      margin: auto;

      @include media-breakpoint-up(md) {
        padding-top: 5rem;
      }

      .header-title {
        font-size: 2rem;
        line-height: 1.5em;
        margin-bottom: 2rem;

        @include media-breakpoint-up(sm) {
          width: 18rem;
        }
        @include media-breakpoint-up(md) {
          font-size: 2.5rem;
          width: 28rem;
          padding-top: 6rem;
        }
        @include media-breakpoint-up(lg) {
          font-size: 3.125rem;
        }

        &.animation {
          @keyframes test {
            0% {
              transform: translateX(-14%);
              opacity: 0;
            }
            100% {
              transform: translateX(0);
              opacity: 100%;
            }
          }
          animation: test 0.8s 1;
          animation-delay: 0.7s;
          animation-fill-mode: both;
        }
      }

      h2 {
        font-size: 0.875rem;
        line-height: 1.5em;
        color: #bebebeda;

        @include media-breakpoint-up(sm) {
          width: 19rem;
        }

        @include media-breakpoint-up(md) {
          font-size: 1rem;
          width: 25rem;
        }
        @include media-breakpoint-up(lg) {
          font-size: 1.125rem;
        }

        &.animation {
          @extend .header-title.animation;
          animation-delay: 0.8s;
        }
      }

      .read-more-btn {
        margin-top: 1rem;
        border: none;
        padding: 0.5rem 1.5rem;
        border-radius: 8px;
        letter-spacing: 0.1rem;
        font-size: 0.8rem;
        position: relative;

        &:hover {
          background-color: map-get($colors, dark) !important;
          color: map-get($colors, primary) !important;
          @include transition;
        }

        &.animation {
          @extend .header-title.animation;
          animation-delay: 0.9s;
        }

        @include media-breakpoint-up(md) {
          padding: 1.2rem 2.5rem;
          margin-top: 2rem;
        }
      }
    }
  }
  .header-slider-left {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../../img/header-img.jpg);
    background-size: cover;
    background-position: 50% 15%;
  }

  .header-slider-right {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../../img/header-img2.jpg);
    transform: translateX(100%);
    background-size: cover;
    background-position: 50% 15%;
  }
}

// SLIDER BUTTONS //
.header-slider-buttons-container {
  width: 100%;
  position: absolute;
  top: 52vh;
  margin-top: 5rem;
  z-index: -1;

  @include media-breakpoint-up(md) {
    top: 31rem;
  }
  @include media-breakpoint-up(lg) {
    top: 43rem;
  }

  .header-slider-button {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin: 0.3rem;
    cursor: pointer;

    &:hover {
      background-color: map-get($colors, success) !important;
      @include transition;
    }

    &.active {
      background-color: map-get($colors, success) !important;
    }
  }
}
// END OF SLIDER //
