//NAV BUTTONS, ICONS STYLE//
.menu-btn {
  display: flex;
  align-items: center;
  height: 20px;
  width: 25px;
  cursor: pointer;

  .menu-icon {
    width: 25px;
    height: 2px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -7px;
      background-color: map-get($colors, secondary);
      width: 25px;
      height: 2px;
      transform: skewY(0);
      @include transition;
    }
    &::after {
      @extend .menu-icon::before;
      top: 7px;
    }

    &.open {
      background-color: map-get($colors, primary) !important;
      @include transition;

      &::before {
        @extend .menu-icon::before;
        width: 20px;
        top: 0;
        transform: skewY(45deg);
      }
      &::after {
        @extend .menu-icon.open::before;
        transform: skewY(-45deg);
      }
    }
  }
}

.search-icon {
  border: 1.5px solid map-get($colors, secondary);
  border-radius: 10px;
  height: 20px;
  width: 20px;
  margin-bottom: 0.5em;
  position: relative;
  cursor: pointer;
  transform: rotateZ(0);
  @include transition;

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 15px;
    background-color: map-get($colors, secondary);
    width: 8px;
    height: 1.5px;
    transform: skewY(45deg);
  }

  &:hover {
    border: 1.5px solid map-get($colors, dark);
    @include transition;

    &::after {
      @extend .search-icon::after;
      background-color: map-get($colors, dark);
      @include transition;
    }
  }

  &.open {
    height: 25px;
    width: 25px;
    border-radius: 20px;
    transform: rotateZ(360deg);
    @include transition;

    &::after {
      @extend .search-icon::after;
      top: 10px;
      left: 6px;
    }
    &::before {
      @extend .search-icon::after;
      transform: skewY(-45deg);
      top: 10px;
      left: 6px;
    }
  }
}

.language-icon {
  height: 2em;
  width: 2em;
  border-radius: 1.5em;
  cursor: pointer;
  position: relative;
}

.contact-btn {
  width: 5px;
  height: 22px;
  margin-right: 1rem;
  cursor: pointer;

  .contact-icon {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    position: relative;

    &::before {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 5px;
      background-color: map-get($colors, secondary);
      position: absolute;
      top: -8px;
      @include transition;
    }
    &::after {
      @extend .contact-icon::before;
      top: 8px;
    }

    &.open {
      width: 4px;
      height: 4px;

      &::before {
        @extend .contact-icon::after;
        @extend .contact-icon.open;
        @include transition;
      }

      &::after {
        @extend .contact-icon::before;
        @extend .contact-icon.open;
        @include transition;
      }
    }
  }
}
//END OF NAV BUTTONS, ICONS//

// SIDE MENU //
.navbar-nav {
  z-index: 1;
  padding: 1rem 0;
  @include box-shadow;
  height: 100vh;
  width: 85vw;
  position: fixed;
  top: 3.8125rem;
  left: 0;
  transform: translateX(-110%);
  @include transition;

  &.open {
    transform: translateX(0);
    @include transition;
  }

  .nav-item {
    position: relative;
    margin-bottom: 0.2rem;

    .nav-link {
      font-size: 0.75rem;
      padding-left: 0.8rem;

      &:hover {
        text-decoration: none;
        color: map-get($colors, primary) !important;
        background-color: map-get($colors, dark);
        @include transition;
      }

      &.open {
        @extend .nav-link:hover;
      }

      i {
        display: inline-block;
        font-size: 0.75rem;
        position: absolute;
        right: 1.5rem;
        top: 0.8rem;
        cursor: pointer;
        transform: rotateZ(0deg);
        @include transition;

        &.open {
          transform: rotateZ(180deg);
          @include transition;
        }
      }
    }

    .nested-links {
      display: none;
      padding: 0;

      &.open {
        display: inline;
      }

      a {
        display: inline-block;
        width: 100%;
        margin-top: 0.2rem;
        padding: 0.5rem;
        padding-left: 1.6rem;
        font-size: 0.75rem;

        &:hover {
          @extend .nav-link:hover;
        }
      }
    }
  }
}
// END OF SIDE MENU //

// SEARCH MENU //
.search-menu {
  z-index: 2;
  height: 3rem;
  width: 100vw;
  position: absolute;
  top: 3.8125rem;
  left: 0;
  @include box-shadow;
  transform: translateY(-30%);
  opacity: 0;
  @include transition;

  &.open {
    transform: translateY(0);
    opacity: 100%;
    @include transition;
  }

  textarea {
    height: 100%;
    width: 80%;
    resize: none;
    border: none;
    padding: 0.8rem;
    letter-spacing: 0.1rem;
  }

  .search-menu-icon {
    margin-right: 1rem;
  }
}
// END OF SEARCH MENU //

// LANGUAGE MENU //
.language-menu {
  z-index: 2;
  position: absolute;
  top: 3.5em;
  width: 2em;
  text-align: center;
  display: none !important;
  @include box-shadow;

  &.open {
    display: flex !important;
  }

  ul {
    padding: 0;
    margin: 0;
    height: 100%;

    li.language {
      padding: 0.25em;
      cursor: pointer;

      &.active {
        background-color: map-get($colors, dark);
        color: map-get($colors, primary) !important;
      }
    }
  }
}
// END OF LANGUAGE MENU //

// CONTACT MENU //
.contact-menu {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 3.8125rem;
  @include box-shadow;
  text-align: center;
  width: 80vw;
  height: 5rem;
  z-index: 1;
  transform: translateY(-30%);
  opacity: 0;
  @include transition;

  &.open {
    transform: translateY(0);
    opacity: 100%;
    @include transition;
  }

  p {
    margin: 0;
    font-size: 0.9rem;
  }
}
// END OF CONTACT MENU //

// SLIDER //
.header-slider {
  z-index: 0;
  &.right {
    transform: translateX(-50%);
    @include transition;
    transition-duration: 0.4s;
  }

  &.left {
    transform: translateX(0);
    @include transition;
    transition-duration: 0.4s;
  }
  .sides {
    text-align: center;
    height: 75vh;
    width: 100vw;

    .header-title {
      font-size: 2rem;
      padding: 0 1em;
      line-height: 1.5em;
      margin-bottom: 2.5rem;

      &.animation {
        @keyframes test {
          0% {
            transform: translateX(-14%);
            opacity: 0;
          }
          100% {
            transform: translateX(0);
            opacity: 100%;
          }
        }
        animation: test 0.8s 1;
        animation-delay: 0.7s;
        animation-fill-mode: both;
      }
    }

    h2 {
      font-size: 0.875rem;
      padding: 0 2em;
      line-height: 1.5em;
      color: #bebebeda;

      &.animation {
        @extend .header-title.animation;
        animation-delay: 0.8s;
      }
    }

    .read-more-btn {
      margin-top: 2.5rem;
      border: none;
      padding: 0.5rem 1.5rem;
      border-radius: 8px;
      letter-spacing: 0.1rem;
      font-size: 0.8rem;
      position: relative;

     &:hover{
       background-color: map-get($colors, dark) !important;
       color: map-get($colors, primary) !important;
     }

      &.animation {
        @extend .header-title.animation;
        animation-delay: 0.9s;
      }
    }

    &.left-side {
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(../../img/header-img.jpg) center/cover;
    }

    &.right-side {
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../../img/header-img2.jpg) center/cover;
    }
  }
}

.header-slider-buttons-container {
  z-index: 0;
  position: absolute;
  bottom: 14vh;
  width: 100vw;
  height: 4.7rem;

  .header-slider-button {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin: 0.3rem;
    cursor: pointer;

    &.active {
      background-color: map-get($colors, success) !important;
    }
  }
}
// END OF SLIDER //
