.instructors {
  padding-bottom: 2rem;
}

.instructors-title {
  font-size: 1.375rem;
  margin-top: 3rem;
  margin-bottom: 2rem;

  @include media-breakpoint-up(lg) {
    font-size: 1.875rem;
  }
  @include media-breakpoint-up(xl) {
    font-size: 2.75rem;
  }
}

// SLIDER ITEMS //
.instructors-items-container {
  position: relative;
  max-width: 1230px;
  margin: auto;

  @include media-breakpoint-up(md) {
    padding-bottom: 3rem;
  }

  .instructors-item {
    a {
      color: map-get($colors, secondary);

      &:hover {
        color: map-get($colors, dark);
        text-decoration: none;
        @include transition;
      }

      h3 {
        font-size: 1rem;
        margin-top: 1rem;

        @include media-breakpoint-up(lg) {
          font-size: 1.375rem;
        }
      }
    }

    p {
      font-size: 0.8125rem;
      padding: 0 2rem;

      @include media-breakpoint-up(lg) {
        font-size: 0.94rem;
      }
    }

    @include media-breakpoint-up(md) {
      width: 25%;
    }

    img {
      @include media-breakpoint-up(md) {
        width: 80%;
      }
      @include media-breakpoint-up(lg) {
        width: 90%;
      }
    }

    .social-icons-container {
      a {
        margin: 0 0.5rem;
        margin-bottom: 2rem;

        i {
          &:hover {
            color: map-get($colors, dark) !important;
            @include transition;
          }
        }
      }
    }

    &.active {
      transform: translateX(0);
      @include transition;
      opacity: 1;
    }

    &.prev {
      transform: translateX(-100%);
      @include transition;
      opacity: 0;
    }
    &.next {
      transform: translateX(100%);
      @include transition;
      opacity: 0;
    }
  }

  .instructors-item-hidden {
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateX(100%);

    @include media-breakpoint-up(md) {
      position: static;
      transform: translate(0);
      width: 25%;
    }
  }
}
// END OF SLIDER ITEMS //

// SLIDER BUTTONS //
.instructors-slider-buttons-container {
  width: 100%;
  height: 5rem;

  @include media-breakpoint-up(md) {
    display: none !important;
  }

  .instructors-slider-button {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin: 0.5rem;
    cursor: pointer;

    &.active {
      background-color: map-get($colors, dark) !important;
    }

    &:hover {
      background-color: map-get($colors, dark) !important;
      @include transition;
    }
  }
}
// END OF SLIDER BUTTONS //
