.newsletter{
    padding: 0 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../img/newsletter-img.jpg) center/cover ;

    .newsletter-title{
        font-size: 1.375rem;
        padding-top: 3rem;
    }
    
    h3{
        font-size: 0.8125rem;
        margin-top: 1rem;
    }

    input{
        display: block;
        background: none;
        border: none;
        margin: auto;
        border-bottom: 1px solid map-get($colors, primary);
        width: 100%;
        margin-top: 2.6rem;
        padding-bottom: 0.5rem;
        color: map-get($colors, primary);
        

        &::placeholder{
            color: map-get($colors, primary);
        }
    }

    button{
        margin-top: 1rem;
        margin-bottom: 3rem;
        border: none;
        letter-spacing: 0.1rem;
        font-size: 0.875rem;
        width: 100%;
        padding: 0.6rem;
        border-radius: 4px;
    }
}