.qualities {
  background: map-get($colors, sectionBackground);

  .qualities-items-container {
    padding: 3rem 1rem;
    margin: auto;
    
    @include media-breakpoint-up(md) {
      max-width: 1230px;
    }
    @include media-breakpoint-up(lg) {
      background: url(../../img/qualities-background.png) center/contain no-repeat;
    }
  }

  .qualities-item {
    @include media-breakpoint-up(md) {
      padding: 2rem 0;
    }
    img {
      margin-top: 2rem;
      height: 3.75rem;
      width: 3.75rem;

      @include media-breakpoint-up(md) {
        height: 4.8rem;
        width: 4.8rem;
        margin: 0 1rem;
      }

      &.second {
        @include media-breakpoint-up(sm) {
          margin-top: 0;
        }
      }
    }

    .qualities-title {
      display: inline-block;
      margin-top: 1rem;
      font-size: 1.125rem;

      @include media-breakpoint-up(md) {
        font-size: 1.625rem;
      }

      &:hover {
        color: map-get($colors, dark) !important;
        @include transition;
        text-decoration: none;
      }
    }

    .qualities-description {
      font-size: 0.8rem;
      margin-top: 0.5rem;
      line-height: 1.5rem;

      @include media-breakpoint-up(sm) {
        width: 17rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 0.94rem;
      }
    }

    @include media-breakpoint-up(sm) {
      height: 50%;
    }
    @include media-breakpoint-up(md) {
      height: 50%;
    }
  }
}
