.results{
    padding: 3rem 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/results-bg.jpg) center/cover fixed;

    .results-item{
        margin-top: 1.5rem;

        .results-number{
            display: inline-block;
            font-size: 1.625rem;
            border-bottom: 1px solid map-get($colors, primary );
            padding-bottom: 0.5rem;
        }
    
        .results-title{
            font-size: 0.875rem;
            line-height: 1.3rem;
        }
    }
}
