.testimonials{
    width: 100%;
    background: map-get($colors, sectionBackground );
    padding: 3rem 0;
        

    .testimonials-title{
        font-size: 1.375rem;
        margin-bottom: 2rem;   
          
    }

    .testimonials-items-container{
        position: relative;

        .testimonials-item{ 
            padding: 0 1.5rem; 
    
            .testimonials-review{
                font-size: 1rem;
                line-height: 2rem;
            }
    
            img{
                border-radius: 100%;
                margin-top: 2rem;
            }
    
            .testimonials-name{
                margin-top: 2rem;
                font-size: 0.875rem;
                letter-spacing: 0.1rem;
            }
    
            h4{
                font-size: 0.8125rem;
            }
    
            &.active{
                transform: translateX(0);
                @include transition;
                transition-duration: 0.4s;
            }
    
            &.prev{
                transform: translateX(-100%);
                @include transition;
                transition-duration: 0.4s;
            }
            &.next{
                transform: translateX(100%);
                @include transition;
                transition-duration: 0.4s;
            }
        }
    
        .testimonials-item-middle{
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(100%);
    
            .testimonials-review{
                padding-bottom: 2rem;
            }   
        }
    
        .testimonials-item-right{
            @extend .testimonials-item-middle;
    
            .testimonials-review{
                padding-bottom: 0;
            }
        }
    }


    .testimonials-slider-buttons-container{
        padding: 0 1rem;

        .testimonials-slider-button{
            font-size: 0.875rem;
            position: relative;
            cursor: pointer;
            margin-top: -12rem;
            @include transition;

            &::after{
                content: "";
                position: absolute;
                top: 1.4rem;
                left: 0;
                height: 2px;
                width: 2rem;
                background-color: map-get($colors, info);
                @include transition;
            }

            &:hover{
                color: map-get($colors, secondary) !important;
                @include transition;

                &::after{
                    content: "";
                    position: absolute;
                    top: 1.4rem;
                    left: 0.5rem;
                    height: 2px;
                    width: 1rem;
                    background-color: map-get($colors, secondary);
                    @include transition;
                }
            }
        }

        .testimonials-slider-button-prev{
            cursor: default;
        }
    }
}